<div class="parent">
    <div class="child1">
        <ul>
            <li routerLink="gameactivity">GameActivity</li><br><br>
            <li routerLink="teams">Teams</li><br><br>
            <li>User
            <!-- <ul><li routerLink="userregistration">User Registration</li></ul> -->
            <ul><li routerLink="allusers">All Users</li><br><br></ul>
            </li>
             
            
            
        </ul>

    </div>
    <div class="child2">
    <router-outlet></router-outlet>
    </div>

</div>
