<select [(ngModel)]="column" name="allMembers" class="custom-select">
    <option selected>custom select menu</option>
    <option value="GameActivityId">GameActivityId</option>
    <option value="GameActivityTag">GameActivityTag</option>
    <option value="GameActivityIdTag">GameActivityIdTag</option>
    <option value="GameActivityDescription">GameActivityDescription</option>
    <option value="StartDate">StartDate</option>
    <option value="EndDate">EndDate</option>
</select>

<input [(ngModel)]="filterTerm" />
<button type="text" placeholder="Search" class="btn btn-success" (click)="filter()">Search</button>
<select [(ngModel)]="order">
    <option value="asc">asc</option>
    <option value="desc">desc</option>
</select>
<button class="btn btn-primary" (click)="sort()">sort</button>
<table>
    <thead>
        <tr>
            <th>GameActivityTag</th>
            <th>GameActivityIdTag</th>
            <th>GameActivityDescription</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of allMembers">
            <td>{{member.GameActivityId}}</td>
            <td>{{member.GameActivityTag}}</td>
            <td>{{member.GameActivityIdTag}}</td>
            <td>{{member.GameActivityDescription}}</td>
            <td>{{member.StartDate}}{{member.EndDate}}</td>
            <td><button (click)="delete()">delete</button></td>
            <td><button type="button" class="btn btn-success" (click)="save(member)">View Details</button></td>
        </tr>
        <div class="container">
            <ul class="pagination">
                <li (click)="previous()" class="page-item"><a class="page-link">Previous</a></li>
                <li (click)="page(1)" class="page-item"><a class="page-link">1</a></li>
                <li (click)="page(2)" class="page-item"><a class="page-link">2</a></li>
                <li (click)="page(3)" class="page-item"><a class="page-link">3</a></li>
                <li (click)="next()" class="page-item"><a class="page-link">Next</a></li>

            </ul>
        </div>
    </tbody>
</table>